body {
	background-image: url("");
}

#matkul {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 5px 25px; 
  margin: 5px;
}

/*
#EL {
	background-color: lightgrey;
	border-radius: 10px;
	padding: 5px 25px;
}*/

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue;
  text-decoration: underline;
}
img {
	width:20px;
	height:20px;
	margin-right:5px;
}
